@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userAvatar {
  width: 400px;
  height: 421px;
  border: 1px solid #dadbdd;
  .userAvatarWrapper {
    .userContentWrapper {
      padding: 30px;
      .profile__label_top {
        margin-bottom: -30px;
        position: relative;
        .profile__label_status {
          width: 65px;
          height: 22px;
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          vertical-align: center;

          border: 1px solid #1dbf73;
          border-radius: 12px;
          color: #1dbf73;
          display: none;
          margin-bottom: 5px;
          padding: 0 6px;

          @include flexCenter();
          & > span {
            font-size: 15px;
            line-height: 22px;
            display: inline-block;
            margin-right: 4px;
          }
          & > i {
            line-height: 22px;
            vertical-align: middle;
            display: inline-block;
          }
        }
        .camera__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: -10px;
          .camera__image {
            width: 150px;
            height: 150px;
          }
        }
        .profile__label_name {
          font-size: 25px;
          font-weight: 700;
          color: #222325;
          text-align: center;
          display: block;
          padding-bottom: 10px;
          & > p {
            font-size: 22px;
            margin-bottom: 10px;
          }
        }
        .profile__label_edit {
          text-align: center;
          margin-top: -10px;
          margin-bottom: 10px;
        }
      }
      .profile__label_bottom {
        padding-top: 0px;
        margin-top: 40px;
        font-size: 14px;
        .profile__label_location {
          @include flexBetween();
          margin-bottom: -12px;
          margin-top: 10px;
          .profile__label_locationLeft {
            @include flexBetween();
            color: #62646a;
          }
          .profile__label_locationRight {
            font-weight: bold;
            color: #62646a;
          }
        }
        .profile__label_member {
          margin-bottom: 10px;
          color: #62646a;

          @include flexBetween();
          .profile__label_memberLeft {
            @include flexBetween();
          }
          .profile__label_memberRight {
            color: #62646a;
            font-weight: bold;
          }
        }
      }
    }
  }
}
