.cards {
  .wrapper {
    padding: 30px 0px;
    .cards__row {
      width: 100%;
      box-shadow: none;
      display: flex;
      flex-direction: row;
      .cards__col {
        cursor: pointer;
        .cards__col_wrapper {
          .col__header {
            display: flex;
            align-items: center;
            margin: -10px 0px;
            .col__name {
              & > h6 {
                padding: 0px 0px;
              }
            }
          }
          .col__star {
            display: flex;
            align-items: center;
          }
          .price {
            margin-left: 8px;
            font-size: 16px;
            color: #404145;
            text-align: right;
            font-weight: 700;
          }
          .cardActions {
            border: 1px solid #e4e5e7;
            box-shadow: none;
          }
        }
      }
    }
  }
}
