@mixin backGroundSlider($color, $url) {
  background-position: bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #023a15;
  background-image: $url;
}
.sliderContainer {
  .mySwiper {
    width: 100%;
    height: 680px;
    .backGround1 {
      @include backGroundSlider(
        #023a15,
        url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049984/bg-hero-1-1792-x2.png')
      );
    }
    .backGround2 {
      @include backGroundSlider(
        _,
        url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/2413b8415dda9dbd7756d02cb87cd4b1-1599595203021/bg-hero-2-1792-x2.png')
      );
    }
    .backGround3 {
      @include backGroundSlider(
        _,
        url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/d14871e2d118f46db2c18ad882619ea8-1599835783974/bg-hero-3-1792-x2.png')
      );
    }
    .backGround4 {
      @include backGroundSlider(
        _,
        url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/93085acc959671e9e9e77f3ca8147f82-1599427734106/bg-hero-4-1792-x2.png')
      );
    }
    .backGround5 {
      @include backGroundSlider(
        _,
        url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049977/bg-hero-5-1792-x2.png')
      );
    }
  }
}
