.mySwiper {
  .slideWrapper {
    width: 293px;
    height: 345px;
    position: relative;
    .slideHeader {
      position: absolute;
      top: -15px;
      left: 20px;
      text-align: left;
      color: #fff;
      z-index: -10 !important;
      & > h3 {
        margin-top: -20px;
      }
    }
  }
}
