.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.swiper-button-prev {
  left: -20px !important;
}
.swiper-button-next {
  right: -20px !important;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 5px 0 rgba(23, 20, 20, 0.15) !important;
  /* z-index: 9999999999 !important; */
  overflow: visible !important;
  opacity: 1;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #000;
  font-size: 18px !important;
}
