.jobDetail {
  .jobDetail__container {
    .jobDetail__header {
    }
    .jobDetail__navBar {
    }
    .jobDetail__mainContent {
      padding: 35px 50px;
      .mainContent__wrapper {
        .mainContent__onGoingNav {
        }
        .mainContent__header {
        }
        .mainContent__subHeader {
          .mainContent__row {
            .mainContent__col {
              & > h5 {
                font-weight: 700;
              }
              margin-right: 10px;
              .mainContent__avatar {
                margin-right: 10px;
              }
              .mainContent__item {
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
